/* font */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

* {
   font-family: "Orbitron";
}


@media only screen and (max-width: 1389px) { /*Phone*/
  /* body */

  body {
    animation-name: background_fade_phone;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes background_fade_phone {
    0%     {background-color: white;}
    20%    {background-color: white;}
    80%    {background-color: black;}
    100%   {background-color: black;}
  }


  /* content */

  .content{
    top: 50%;
    left: 50%;
    position: absolute;

    transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
  }


  /* line */

  .line {
    width: inherit;
    text-align: center;
    display: inline-block;
  }


  /* top */

  .left {
    margin: 1%;
    font-size: 400%;

    color: #000; /* Fallback */
    color: rgba(0, 0, 0, 1);
    animation-name: left_opacity;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes left_opacity {
    0%    {color: rgba(0, 0, 0, 1);}
    20%   {color: rgba(0, 0, 0, 1);}
    80%   {color: rgba(0, 0, 0, 0);}
    100%  {color: rgba(0, 0, 0, 0);}
  }


  /* bottom */

  .right {
    margin: 1%;
    font-size: 400%;

    color: #fff; /* Fallback */
    color: rgba(255, 255, 255, 0);
    animation-name: right_opacity;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes right_opacity {
    0%    {color: rgba(255, 255, 255, 0);}
    20%   {color: rgba(255, 255, 255, 0);}
    80%   {color: rgba(255, 255, 255, 1);}
    100%  {color: rgba(255, 255, 255, 1);}
  }


  /* me */

  .me {
    font-size: 400%;
    text-align: center;
    animation-name: me_phone;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin: 0;
    animation-timing-function: cubic-bezier(.79,.14,.15,.86);
  }

  @keyframes me_phone {
    0%     {color: black; transform: translateY(-85px);}
    20%    {color: black; transform: translateY(-85 px);}
    40%    {color: black;}
    60%    {color: white;}
    80%    {color: white; transform: translateY(0px);}
    100%   {color: white; transform: translateY(0px);}
  }

}

@media only screen and (min-width: 1390px) { /*Laptop*/

  /* body */

  body {
    animation-name: background_fade_laptop;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes background_fade_laptop {
    0%     {background-color: white;}
    20%    {background-color: white;}
    80%    {background-color: black;}
    100%   {background-color: black;}
  }


  /* content */

  .content{
    top: 50%;
    left: 50%;
    position: absolute;

    transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
  }


  /* line */

  .line {
    width: inherit;
    text-align: center;
  }


  /* left */

  .left {
    margin: 1%;
    display: inline-block;
    margin: 0;
    font-size: 400%;

    color: #000; /* Fallback */
    color: rgba(0, 0, 0, 1);
    animation-name: left_opacity;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes left_opacity {
    0%    {color: rgba(0, 0, 0, 1);}
    20%   {color: rgba(0, 0, 0, 1);}
    80%   {color: rgba(0, 0, 0, 0);}
    100%  {color: rgba(0, 0, 0, 0);}
  }


  /* right */

  .right {
    margin: 1%;
    display: inline-block;
    margin: 0;
    font-size: 400%;

    color: #fff; /* Fallback */
    color: rgba(255, 255, 255, 0);
    animation-name: right_opacity;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes right_opacity {
    0%    {color: rgba(255, 255, 255, 0);}
    20%   {color: rgba(255, 255, 255, 0);}
    80%   {color: rgba(255, 255, 255, 1);}
    100%  {color: rgba(255, 255, 255, 1);}
  }


  /* me */

  .me {
    font-size: 400%;
    text-align: center;
    animation-name: me_laptop;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin: 0;
    animation-timing-function: ease-in-out;
    /* animation-timing-function: cubic-bezier(.79,.14,.15,.86); */
  }

  @keyframes me_laptop {
    0%     {color: black; transform: translateX(-173px);}
    20%    {color: black; transform: translateX(-173px);}
    40%    {color: black;}
    60%    {color: white;}
    80%    {color: white; transform: translateX(172px);}
    100%   {color: white; transform: translateX(172px);}
  }

}
