/* font */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

* {
   font-family: "Orbitron";
}


<<<<<<< HEAD
@media only screen and (max-width: 1389px) { /*Phone*/
=======
/* phone css*/

@media only screen and (max-width: 1389px) {


>>>>>>> 3c8f72c68e8a9913288537e060d652c4982f7a48
  /* body */

  body {
    animation-name: background_fade_phone;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }

  @keyframes background_fade_phone {
    0%     {background-color: white;}
    20%    {background-color: white;}
    80%    {background-color: black;}
    100%   {background-color: black;}
  }


  /* content */

  .content{
    top: 50%;
    left: 50%;
    position: absolute;

    transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
  }


  /* line */

  .line {
    width: inherit;
    text-align: center;
    display: inline-block;
  }


  /* top */

  .left {
    float: 0;
    margin: 1%;
    color: black;
    font-size: 400%;
  }


  /* bottom */

  .right {
    left: 0;
    margin: 1%;
    color: white;
    font-size: 400%;
  }


  /* me */

  .me {
    font-size: 400%;
    text-align: center;
    animation-name: me_phone;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin: 0;
    animation-timing-function: ease-in-out;
  }

  @keyframes me_phone {
    0%     {color: black; transform: translateY(-85px);}
    20%    {color: black; transform: translateY(-85 px);}
    40%    {color: black;}
    60%    {color: white;}
    80%    {color: white; transform: translateY(0px);}
    100%   {color: white; transform: translateY(0px);}
  }

}

<<<<<<< HEAD
@media only screen and (min-width: 1390px) { /*Laptop*/
=======

/* laptop css */

@media only screen and (min-width: 1390px) {


>>>>>>> 3c8f72c68e8a9913288537e060d652c4982f7a48
  /* body */

  body {
    animation-name: background_fade_laptop;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }

  @keyframes background_fade_laptop {
    0%     {background-color: white;}
    20%    {background-color: white;}
    80%    {background-color: black;}
    100%   {background-color: black;}
  }


  /* content */

  .content{
    top: 50%;
    left: 50%;
    position: absolute;

    transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
  }


  /* line */

  .line {
    width: inherit;
    text-align: center;
  }


  /* left */

  .left {
    margin: 1%;
    display: inline-block;
    margin: 0;
    color: black;
    font-size: 400%;
  }


  /* right */

  .right {
    margin: 1%;
    display: inline-block;
    margin: 0;
    color: white;
    font-size: 400%;
  }


  /* me */

  .me {
    font-size: 400%;
    text-align: center;
    animation-name: me_laptop;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin: 0;
    animation-timing-function: ease-in-out;
  }

  @keyframes me_laptop {
    0%     {color: black; transform: translateX(-173px);}
    20%    {color: black; transform: translateX(-173px);}
    40%    {color: black;}
    60%    {color: white;}
    80%    {color: white; transform: translateX(172px);}
    100%   {color: white; transform: translateX(172px);}
  }

}
