/* font */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

* {
   font-family: "Orbitron";
}


/* body */

body {
  animation-name: background_fade;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes background_fade {
  0%     {background-color: white;}
  20%    {background-color: white;}
  80%    {background-color: black;}
  100%   {background-color: black;}
}


/* content */

.content{
  top: 50%;
  left: 50%;
  position: absolute;

  transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
}


/* line */

.line {
  width: inherit;
  text-align: center;
}


/* left */

.left {
  margin: 1%;
  display: inline-block;
  margin: 0;
  color: black;
  font-size: 400%;
}


/* right */

.right {
  margin: 1%;
  display: inline-block;
  margin: 0;
  color: white;
  font-size: 400%;
}


/* me */

.me {
  font-size: 400%;
  text-align: center;
  animation-name: me;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  margin: 0;
}

@keyframes me {
  0%     {color: black; transform: translateX(-10%);}
  20%    {color: black; transform: translateX(-10%);}
  80%    {color: white; transform: translateX(10%);}
  100%   {color: white; transform: translateX(10%);}
}
